<a href="https://colab.research.google.com/github/loni9164/text_sql/blob/main/sql_starcoder_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create db

In [ ]:
!apt-get -qq update
!apt-get -qq -y install postgresql
!service postgresql start

In [ ]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 15.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [ ]:
!service postgresql restart

 * Restarting PostgreSQL 14 database server
   ...done.

In [ ]:
!sudo -u postgres psql

psql (14.10 (Ubuntu 14.10-0ubuntu0.22.04.1))
Type "help" for help.

postgres=# ALTER USER postgres PASSWORD '12345';
ALTER ROLE
postgres=# quit

In [ ]:
import psycopg2
conn = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="12345",  # Use the correct password here
    dbname="postgres"
)
conn.autocommit = True
cursor = conn.cursor()

In [ ]:
# Creating a new database
cursor.execute("CREATE DATABASE credit_card_system3")
cursor.close()
conn.close()

In [ ]:
# Connecting to the new database
conn = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="12345",
    dbname="credit_card_system3"
)
cursor = conn.cursor()

In [ ]:
# SQL statements to create tables
create_table_statements = [
    """
    CREATE TABLE branch (
        "BranchId" INTEGER,
        "BranchName" TEXT,
        "BranchAddress" TEXT,
        "BranchPhone" TEXT,
        "BranchManager" TEXT,
        "BranchEmail" TEXT,
        "EstablishedDate" DATE,
        "NumberOfEmployees" INTEGER,
        PRIMARY KEY ("BranchId")
    )
    """,
    """
    CREATE TABLE category (
        "CategoryId" INTEGER,
        "CategoryName" TEXT,
        PRIMARY KEY ("CategoryId")
    )
    """
    ,

    """
    CREATE TABLE users (
    "UserId" INTEGER,
    "UserName" TEXT,
    "UserEmail" TEXT,
    "UserAddress" TEXT,
    "UserPhone" TEXT,
    "DateOfBirth" DATE,
    "RegistrationDate" DATE,
    "Status" TEXT,
    "BranchId" INTEGER,
    PRIMARY KEY ("UserId"),
    FOREIGN KEY("BranchId") REFERENCES branch ("BranchId")
    )
    """
    ,
    """
    CREATE TABLE credit_card (
    "CardId" INTEGER,
    "UserId" INTEGER,
    "CardNumber" TEXT,
    "CardType" TEXT,
    "ExpiryDate" DATE,
    "CVV" INTEGER,
    "IssueDate" DATE,
    "CreditLimit" REAL,
    "CurrentBalance" REAL,
    "StatementBalance" REAL,
    PRIMARY KEY ("CardId"),
    FOREIGN KEY("UserId") REFERENCES users ("UserId")
  )
    """,
    """
    CREATE TABLE transactions (
        "TransactionId" INTEGER,
        "CardId" INTEGER,
        "TransactionDate" DATE,
        "Amount" REAL,
        "Merchant" TEXT,
        "CategoryId" INTEGER,
        "TransactionType" TEXT,
        "TransactionStatus" TEXT,
        "Description" TEXT,
        PRIMARY KEY ("TransactionId"),
        FOREIGN KEY("CardId") REFERENCES credit_card ("CardId"),
        FOREIGN KEY("CategoryId") REFERENCES category ("CategoryId")
    )
    """,
    """
    CREATE TABLE credit_card_financial (
        "FinancialId" INTEGER,
        "CardId" INTEGER,
        "OverdueCharges" REAL,
        "LoanAmount" REAL,
        "EMIAmount" REAL,
        "EMIDueDate" DATE,
        "InterestRate" REAL,
        "PaymentDueDate" DATE,
        "MinimumPayment" REAL,
        PRIMARY KEY ("FinancialId"),
        FOREIGN KEY("CardId") REFERENCES credit_card ("CardId")
    )
    """,
    """
    CREATE TABLE reward (
        "RewardId" INTEGER,
        "TransactionId" INTEGER,
        "PointsEarned" INTEGER,
        "PointsRedeemed" INTEGER,
        "CurrentBalance" INTEGER,
        PRIMARY KEY ("RewardId"),
        FOREIGN KEY("TransactionId") REFERENCES transactions ("TransactionId")
    )
    """
]


# Execute each CREATE TABLE statement
for statement in create_table_statements:
    cursor.execute(statement)

conn.commit()

In [ ]:
import pandas as pd

# Function to load data from CSV to a table
def load_csv_to_table(csv_file_path, table_name):
    data = pd.read_csv(csv_file_path)
    for i, row in data.iterrows():
        insert_query = "INSERT INTO {} VALUES %s".format(table_name)
        cursor.execute(insert_query, (tuple(row),))

In [ ]:
# Load data from CSV files in the correct order
load_csv_to_table('branch.csv', 'branch')
load_csv_to_table('category.csv', 'category')
load_csv_to_table('user.csv', 'users')
load_csv_to_table('credit_card.csv', 'credit_card')
load_csv_to_table('transactions.csv', 'transactions')
load_csv_to_table('credit_card_financial.csv', 'credit_card_financial')
load_csv_to_table('reward.csv', 'reward')

conn.commit()

In [ ]:
query = "SELECT * FROM users"
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

# Installation

In [14]:
import sqlite3
import time
import pickle
import re

In [ ]:
!git clone https://github.com/loni9164/text_sql.git

In [ ]:
!pip install langchain langchain-experimental
!pip install -q  langchain
!pip install sentence-transformers
!pip install chromadb

In [3]:
# from langchain.llms import CTransformers
from langchain import PromptTemplate, LLMChain
from langchain.callbacks.manager import CallbackManager
from langchain.callbacks.streaming_stdout import StreamingStdOutCallbackHandler
from langchain.utilities import SQLDatabase
from langchain.prompts import PromptTemplate
from langchain_experimental.sql import SQLDatabaseChain

In [4]:
db_path = 'text_sql/credit_card_system.db'

In [5]:
db = SQLDatabase.from_uri("sqlite:///" + db_path)
table_info = db.table_info
# print(table_info)

# Load LLM model

In [ ]:
!pip3 install transformers optimum
!pip3 install auto-gptq --extra-index-url https://huggingface.github.io/autogptq-index/whl/cu121/  # Use cu117 if on CUDA 11.7

In [ ]:
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline

model_name_or_path = "TheBloke/sqlcoder2-GPTQ"
# To use a different branch, change revision
# For example: revision="gptq-4bit-128g-actorder_True"
model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

In [ ]:
from auto_gptq import exllama_set_max_input_length
model = exllama_set_max_input_length(model, max_input_length=3000)
tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)

In [9]:
# print("\n\n*** Generate:")

# input_ids = tokenizer(prompt_template, return_tensors='pt').input_ids.cuda()
# output = model.generate(inputs=input_ids, temperature=0, do_sample=True, top_p=0.95, top_k=40, max_new_tokens=512)
# print(tokenizer.decode(output[0]))

# Inference can also be done using transformers' pipeline

# print("*** Pipeline:")
pipe = pipeline(
    "text-generation",
    model=model,
    tokenizer=tokenizer,
    max_new_tokens=512,
    do_sample=True,
    temperature=0.1,
    top_p=0.95,
    top_k=40,
    repetition_penalty=1.1
)

# print(pipe(prompt_template)[0]['generated_text'])

# Query functions and Column mapping

In [15]:
def query_db(query):
  # Connect to SQLite database
  conn = sqlite3.connect(db_path)
  cursor = conn.cursor()

  # Execute a query
  cursor.execute(query)

  # Fetch and print results
  return cursor.fetchall()

In [16]:
def get_column_names(db_path):
    columns_list = []
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Get the list of all tables in the database
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    # For each table, get the column names
    for table in tables:
        # print(f"Columns for table {table[0]}:")
        cursor.execute(f"PRAGMA table_info({table[0]});")
        columns = cursor.fetchall()
        for column in columns:
          # print(column[1])
          columns_list.append(column[1])
          # print(column[1])  # column name is in the second position
    conn.close()
    return columns_list

In [17]:
db_columns = get_column_names(db_path)
db_columns = [x.lower() for x in db_columns]

In [18]:
db_columns_map = ['branch_id',
 'branch_name',
 'branch_address',
 'branch_phone',
 'branch_manager',
 'branch_email',
 'established_date',
 'number_of_employees',
 'user_id',
 'user_name',
 'user_email',
 'user_address',
 'user_phone',
 'date_of_birth',
 'registration_date',
 'status',
 'branch_id',
 'category_id',
 'category_name',
 'card_id',
 'user_id',
 'card_number',
 'card_type',
 'expiry_date',
 'cvv',
 'issue_date',
 'credit_limit',
 'current_balance',
 'statement_balance',
 'transaction_id',
 'card_id',
 'transaction_date',
 'amount',
 'merchant',
 'category_id',
 'transaction_type',
 'transaction_status',
 'description',
 'financial_id',
 'card_id',
 'overdue_charges',
 'loan_amount',
 'emi_amount',
 'emi_duedate',
 'interest_rate',
 'payment_duedate',
 'minimum_payment',
 'reward_id',
 'transaction_id',
 'points_earned',
 'points_redeemed',
 'current_balance']

In [19]:
column_map = {x:y for x, y in zip(db_columns_map, db_columns)}

In [20]:
def format_to_sqlite(query):
    # Example conversions
    query = re.sub(r'[\s\n]+', ' ', query)
    query = query.replace('ILIKE', 'LIKE')
    query = query.replace('ilike', 'LIKE')
    query = query.replace('::text', '')
    query = query.replace('::integer', '')
    query = query.replace('boolean_expression', 'case when boolean_expression then 1 else 0 end')
    query = query.replace("EXTRACT(YEAR FROM", "strftime('%Y',")
    for col_query, col_db in column_map.items():
        if col_query in query:
            query = query.replace(col_query, col_db)
    # Add more conversions as per your need
    query = query.strip()
    return query

# Test queries

In [28]:
questions = [
    'What is the total number of active credit cards?',
    "How many transactions were made in the 'Shopping' category?",
    "Which user has the most number of credit cards?",
    "Find the total amount spent on fuel by all users.",
    "What is the oldest branch of the bank?",
    "Find the user with the oldest credit card.",
    "How many rewards were earned for transactions above $1000?",
    "Which category has the lowest average transaction amount?",
    "What is the total outstanding balance for all credit cards?",
    "How many branches have less than 20 employees?",
    "List the top 3 users by total transaction amount.",
    "What is the average number of transactions per user?"
]


answers = ["6", "93", "Michael Baldwin", "23960.57", "Branch 3", "Gabrielle Anderson", "0", "Shopping", "14090.2296532", "2", "Gabrielle Anderson, Michael Baldwin", "166.66666666666666"]

test_data = [{'qury_text':q, 'result': a} for q ,a in zip(questions, answers)]

# longchain Template

In [29]:
PROMPT_SUFFIX='''## Task
  Generate a SQlite query to answer the following question:
  {input}
  please Note that columns names
  ### Database Schema
  ### Refer below database Schema for columns name
	CREATE TABLE branch (
		"BranchId" INTEGER,
		"BranchName" TEXT,
		"BranchAddress" TEXT,
		"BranchPhone" TEXT,
		"BranchManager" TEXT,
		"BranchEmail" TEXT,
		"EstablishedDate" DATE,
		"NumberOfEmployees" INTEGER,
		PRIMARY KEY ("BranchId")
	)


	CREATE TABLE category (
		"CategoryId" INTEGER,
		"CategoryName" TEXT,
		PRIMARY KEY ("CategoryId")
	)


	CREATE TABLE credit_card (
		"CardId" INTEGER,
		"UserId" INTEGER,
		"CardNumber" TEXT,
		"CardType" TEXT,
		"ExpiryDate" DATE,
		"CVV" INTEGER,
		"IssueDate" DATE,
		"CreditLimit" REAL,
		"CurrentBalance" REAL,
		"StatementBalance" REAL,
		PRIMARY KEY ("CardId"),
		FOREIGN KEY("UserId") REFERENCES user ("UserId")
	)


	CREATE TABLE credit_card_financial (
		"FinancialId" INTEGER,
		"CardId" INTEGER,
		"OverdueCharges" REAL,
		"LoanAmount" REAL,
		"EMIAmount" REAL,
		"EMIDueDate" DATE,
		"InterestRate" REAL,
		"PaymentDueDate" DATE,
		"MinimumPayment" REAL,
		PRIMARY KEY ("FinancialId"),
		FOREIGN KEY("CardId") REFERENCES credit_card ("CardId")
	)


	CREATE TABLE reward (
		"RewardId" INTEGER,
		"TransactionId" INTEGER,
		"PointsEarned" INTEGER,
		"PointsRedeemed" INTEGER,
		"CurrentBalance" INTEGER,
		PRIMARY KEY ("RewardId"),
		FOREIGN KEY("TransactionId") REFERENCES transactions ("TransactionId")
	)


	CREATE TABLE transactions (
		"TransactionId" INTEGER,
		"CardId" INTEGER,
		"TransactionDate" DATE,
		"Amount" REAL,
		"Merchant" TEXT,
		"CategoryId" INTEGER,
		"TransactionType" TEXT,
		"TransactionStatus" TEXT,
		"Description" TEXT,
		PRIMARY KEY ("TransactionId"),
		FOREIGN KEY("CardId") REFERENCES credit_card ("CardId"),
		FOREIGN KEY("CategoryId") REFERENCES category ("CategoryId")
	)


	CREATE TABLE user (
		"UserId" INTEGER, -- Unique ID for each user
		"UserName" TEXT, -- Name of the user
		"UserEmail" TEXT, -- Email ID of the user
		"UserAddress" TEXT, -- User address
		"UserPhone" TEXT, -- User phone number
		"DateOfBirth" DATE,
		"RegistrationDate" DATE,
		"Status" TEXT,
		"BranchId" INTEGER,
		PRIMARY KEY ("UserId"),
		FOREIGN KEY("BranchId") REFERENCES branch ("BranchId")
	)


  ### SQL
	Ensure the output is traslated to the SQLite query.
	Correct the column name in the final query
  Given the database schema, here is the SQL query that answers `{input}`:
  ```sql
  '''

# Longchain integration

In [30]:
from langchain.llms import HuggingFacePipeline
from langchain import PromptTemplate, LLMChain

In [31]:
llm = HuggingFacePipeline(pipeline=pipe)
# from langchain.chains import create_sql_query_chain
# chain = create_sql_query_chain(llm, db)

In [41]:
with open('text_sql/few_shot_examples', 'rb') as f:
  few_shot_examples = pickle.load(f)

In [44]:
few_shot_examples[11]

{'Question': 'Which category has the highest number of transactions?',
 'SQLQuery': 'SELECT CategoryId, COUNT(*) as NumberOfTransactions FROM transactions GROUP BY CategoryId ORDER BY NumberOfTransactions DESC LIMIT 1;',
 'SQLResult': [(5, 117)],
 'Answer': '5'}

In [46]:
from langchain.prompts import PromptTemplate

template = """Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLiteQuery: "SQLite Query to run"
SQLiteResult: "Result of the SQLite Query"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Some examples of SQLite queries that correspond to questions are:

{few_shot_examples}

Question: {query}"""

prompt_template = PromptTemplate(
    input_variables=["query", "few_shot_examples", "table_info"],
    template=template,
)

In [ ]:
print(table_info)

In [148]:
few_shot_examples

[{'Question': 'List all the cards going to expire by sep 2026',
  'SQLQuery': "SELECT CardNumber FROM credit_card WHERE ExpiryDate <= '2026-09-30';",
  'SQLResult': [('5040000000001',),
   ('35300000000000000',),
   ('52300000000000000',)],
  'Answer': '5040000000001, 35300000000000000, 52300000000000000'},
 {'Question': 'what is the total amount spent by user 2 for food and groceries?',
  'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=2);",
  'SQLResult': [(11718.400000000003,)],
  'Answer': '11718.4'},
 {'Question': 'How many unique users do we have in transactions',
  'SQLQuery': 'SELECT COUNT(DISTINCT UserId) FROM credit_card WHERE CardId IN (SELECT DISTINCT CardId FROM transactions);',
  'SQLResult': [(2,)],
  'Answer': '2'},
 {'Question': 'What is the total amount lended to the user 1',
  'SQLQuery': 'SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=1);',
  'SQLResult': [(27493.36,)],
  'Answer': '27493.36'},
 {'Question': 'Total reward points earned by user2',
  'SQLQuery': 'SELECT SUM(RewardId) FROM reward WHERE TransactionId IN (SELECT TransactionId FROM transactions WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=2));',
  'SQLResult': [(245701,)],
  'Answer': '245701'},
 {'Question': 'List all branches established after 2010.',
  'SQLQuery': "SELECT * FROM branch WHERE EstablishedDate > '2010-01-01';",
  'SQLResult': [(2,
    'Branch 2',
    '105 Ashley Stravenue, South Paulborough, WY 22569',
    '245-022-5506',
    'Louis James',
    'robertspencer@thompson.com',
    '2010-11-14',
    39),
   (4,
    'Branch 4',
    '29407 Bryan Streets Suite 601, Jasonview, VT 13385',
    '001-137-016-2399x433',
    'Peter Patel',
    'campbelljeffery@strickland.org',
    '2010-12-04',
    49),
   (5,
    'Branch 5',
    '31651 Scott Ranch, East Sydney, HI 99471',
    '-9482',
    'Hailey Newton',
    'lorialexander@stevenson.org',
    '2012-03-02',
    16)],
  'Answer': 'Branch 2, Branch 4, Branch 5'},
 {'Question': "Find the total number of transactions in the 'Food and Groceries' category.",
  'SQLQuery': "SELECT COUNT(*) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries');",
  'SQLResult': [(84,)],
  'Answer': '84'},
 {'Question': 'What is the highest credit limit among all credit cards?',
  'SQLQuery': 'SELECT MAX(CreditLimit) FROM credit_card;',
  'SQLResult': [(20000.0,)],
  'Answer': '20000.0'},
 {'Question': 'How many users are associated with Branch 1?',
  'SQLQuery': 'SELECT COUNT(*) FROM user WHERE BranchId = 1;',
  'SQLResult': [(320,)],
  'Answer': '320'},
 {'Question': 'List the user names and total reward points earned by each user.',
  'SQLQuery': 'SELECT u.UserName, SUM(r.RewardId) FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId JOIN reward r ON t.TransactionId = r.TransactionId GROUP BY u.UserName;',
  'SQLResult': [('Gabrielle Anderson', 254799), ('Michael Baldwin', 245701)],
  'Answer': 'Gabrielle Anderson, Michael Baldwin'},
 {'Question': 'Find the average balance of credit cards issued by Branch 2.',
  'SQLQuery': 'SELECT AVG(CurrentBalance) FROM credit_card WHERE CardId IN (SELECT CardId FROM user WHERE BranchId = 2);',
  'SQLResult': [(2348.3716088666665,)],
  'Answer': '2348.3716088666665'},
 {'Question': 'Which category has the highest number of transactions?',
  'SQLQuery': 'SELECT CategoryId, COUNT(*) as NumberOfTransactions FROM transactions GROUP BY CategoryId ORDER BY NumberOfTransactions DESC LIMIT 1;',
  'SQLResult': [(5, 117)],
  'Answer': '5'},
 {'Question': 'List all users who have a credit card expiring in 2024.',
  'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId WHERE strftime('%Y', cc.ExpiryDate) = 2024;",
  'SQLResult': [],
  'Answer': 'Gabrielle Anderson'},
 {'Question': "Find the total amount spent in 'Movies and Entertainment' category by User 1.",
  'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Movies and Entertainment') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=1);",
  'SQLResult': [(11754.929999999998,)],
  'Answer': '11754.93'},
 {'Question': 'What is the total loan amount issued to users of Branch 3?',
  'SQLQuery': 'SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM user WHERE BranchId = 3);',
  'SQLResult': [(47744.87000000001,)],
  'Answer': '47744.87'},
 {'Question': "List all transactions made in the 'Shopping' category.",
  'SQLQuery': "SELECT * FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Shopping');",
  'SQLResult': [(1056,
    1,
    '2022-12-05',
    440.17,
    'Good, Morgan and Harrison',
    2,
    'Debit',
    'Pending',
    'Environmental boy address responsibility.'),
   (1066,
    5,
    '2023-08-08',
    14.99,
    'Hill Inc',
    2,
    'Debit',
    'Completed',
    'Leg of finish interview why impact.'),
   (1074,
    4,
    '2023-08-01',
    385.88,
    'Gonzales PLC',
    2,
    'Credit',
    'Completed',
    'Particular PM add consumer.'),
   (1084,
    2,
    '2023-01-24',
    129.73,
    'Gonzalez and Sons',
    2,
    'Credit',
    'Failed',
    'Thing home white Mrs how travel.'),
   (1085,
    5,
    '2023-01-24',
    276.77,
    'Mckinney, Brown and Hawkins',
    2,
    'Credit',
    'Pending',
    'Early thousand student Mrs.'),
   (1086,
    1,
    '2023-11-12',
    8.46,
    'Cox LLC',
    2,
    'Credit',
    'Pending',
    'Build yes debate rest generation idea.'),
   (1094,
    2,
    '2023-07-17',
    12.23,
    'Garza-Ross',
    2,
    'Debit',
    'Failed',
    'Ask several father game.'),
   (1108,
    4,
    '2023-02-07',
    61.55,
    'Vaughan-Graham',
    2,
    'Credit',
    'Pending',
    'Way simply suffer.'),
   (1111,
    5,
    '2023-02-03',
    277.71,
    'Le, Jones and Ramos',
    2,
    'Debit',
    'Failed',
    'Space coach trouble not.'),
   (1112,
    1,
    '2023-06-24',
    300.37,
    'Brown Ltd',
    2,
    'Debit',
    'Completed',
    'Natural red second area you such.'),
   (1120,
    3,
    '2023-02-11',
    216.84,
    'Lee-Phillips',
    2,
    'Debit',
    'Pending',
    'And ready television become play heart company.'),
   (1140,
    4,
    '2023-05-10',
    189.4,
    'Haney-Baker',
    2,
    'Debit',
    'Pending',
    'Behavior factor political something language still.'),
   (1142,
    1,
    '2023-09-25',
    252.69,
    'Chung Group',
    2,
    'Credit',
    'Pending',
    'Social report Democrat suddenly debate.'),
   (1147,
    2,
    '2023-09-18',
    405.15,
    'Rivera, Cohen and Walter',
    2,
    'Debit',
    'Failed',
    'Sometimes participant apply draw.'),
   (1157,
    3,
    '2023-10-24',
    357.35,
    'Mills Group',
    2,
    'Credit',
    'Failed',
    'Adult election room personal art coach tonight ahead.'),
   (1162,
    3,
    '2023-09-14',
    28.16,
    'Barnes, Dyer and Phelps',
    2,
    'Credit',
    'Pending',
    'Nice plan once past and.'),
   (1173,
    3,
    '2023-09-18',
    292.1,
    'Medina, Fitzpatrick and Johnson',
    2,
    'Credit',
    'Failed',
    'Fear product interest son.'),
   (1191,
    5,
    '2023-07-24',
    250.61,
    'Young-Hanna',
    2,
    'Credit',
    'Completed',
    'Soldier second start bag degree can.'),
   (1211,
    2,
    '2023-03-12',
    442.34,
    'Johnson-Johnston',
    2,
    'Debit',
    'Failed',
    'Take rate capital bring watch drug glass.'),
   (1230,
    2,
    '2023-02-06',
    42.14,
    'Mata PLC',
    2,
    'Credit',
    'Pending',
    'Yet shoulder play offer.'),
   (1231,
    6,
    '2023-05-17',
    47.62,
    'Shelton-Martin',
    2,
    'Credit',
    'Pending',
    'Wide TV clearly only speak subject human.'),
   (1247,
    4,
    '2023-07-11',
    253.88,
    'Chandler-Wall',
    2,
    'Credit',
    'Pending',
    'Kitchen dream mention morning toward toward some church.'),
   (1257,
    4,
    '2023-10-05',
    273.5,
    'Sanchez Inc',
    2,
    'Debit',
    'Completed',
    'Democrat consider pick against Republican operation letter.'),
   (1270,
    6,
    '2023-04-26',
    166.11,
    'Porter PLC',
    2,
    'Credit',
    'Failed',
    'Control hospital from able coach strong your.'),
   (1272,
    5,
    '2023-07-04',
    152.85,
    'Mendoza Group',
    2,
    'Credit',
    'Failed',
    'At market quality method identify.'),
   (1278,
    3,
    '2022-12-13',
    383.98,
    'Chang Inc',
    2,
    'Debit',
    'Completed',
    'Begin some also real society.'),
   (1307,
    6,
    '2023-09-02',
    174.98,
    'Wu-Sutton',
    2,
    'Debit',
    'Failed',
    'At goal guy direction girl.'),
   (1316,
    3,
    '2023-06-24',
    495.78,
    'Copeland-Smith',
    2,
    'Credit',
    'Pending',
    'Site message eye suggest really computer food prepare.'),
   (1344,
    2,
    '2023-02-20',
    240.76,
    'Strickland-Long',
    2,
    'Debit',
    'Completed',
    'Each simply history within.'),
   (1345,
    6,
    '2023-02-22',
    260.75,
    'Osborne-Hernandez',
    2,
    'Debit',
    'Failed',
    'Go kind physical blue explain almost suddenly.'),
   (1352,
    3,
    '2023-05-21',
    90.82,
    'Miller-Reid',
    2,
    'Debit',
    'Failed',
    'Leg step summer above any.'),
   (1373,
    5,
    '2023-05-20',
    29.9,
    'Wells Ltd',
    2,
    'Credit',
    'Completed',
    'Member PM do.'),
   (1382,
    3,
    '2022-12-27',
    293.76,
    'Yoder, Jimenez and Gardner',
    2,
    'Credit',
    'Pending',
    'Last strategy dog cup low.'),
   (1393,
    2,
    '2022-12-14',
    236.7,
    'Johnson, Williams and Barnett',
    2,
    'Debit',
    'Pending',
    'Media culture move sure.'),
   (1401,
    3,
    '2022-12-12',
    242.32,
    'Castillo-Cisneros',
    2,
    'Debit',
    'Pending',
    'Kitchen probably range trouble style wind bed.'),
   (1411,
    1,
    '2023-08-15',
    42.78,
    'Dalton and Sons',
    2,
    'Debit',
    'Failed',
    'Response religious next television.'),
   (1416,
    1,
    '2023-04-01',
    265.16,
    'Haas PLC',
    2,
    'Credit',
    'Completed',
    'Oil single finish student.'),
   (1420,
    4,
    '2023-08-26',
    371.6,
    'Douglas, Anderson and Baker',
    2,
    'Credit',
    'Completed',
    'Second speech total all.'),
   (1421,
    6,
    '2023-01-22',
    126.88,
    'Kennedy-Lopez',
    2,
    'Credit',
    'Completed',
    'Air stand to expert there across against.'),
   (1423,
    2,
    '2023-04-13',
    98.41,
    'Snyder Ltd',
    2,
    'Credit',
    'Failed',
    'Control spend amount executive while animal responsibility.'),
   (1430,
    4,
    '2023-08-20',
    71.74,
    'Williamson, Jordan and Bell',
    2,
    'Credit',
    'Completed',
    'Law room soon animal realize so.'),
   (1447,
    3,
    '2022-12-02',
    444.89,
    'Barrett and Sons',
    2,
    'Debit',
    'Failed',
    'Guess source ready.'),
   (1454,
    6,
    '2023-06-12',
    278.27,
    'Sims, White and Harrell',
    2,
    'Credit',
    'Completed',
    'Cup study child trouble tax those.'),
   (1467,
    1,
    '2023-04-11',
    442.63,
    'Ortiz LLC',
    2,
    'Credit',
    'Completed',
    'Cover scene help investment large.'),
   (1477,
    6,
    '2023-06-26',
    232.53,
    'Lewis, Warren and Conley',
    2,
    'Debit',
    'Completed',
    'Sell court after talk.'),
   (1488,
    6,
    '2023-03-08',
    251.8,
    'Simpson, Lucas and Thompson',
    2,
    'Debit',
    'Completed',
    'Get to despite cut determine indicate.'),
   (1493,
    5,
    '2022-12-27',
    308.31,
    'James LLC',
    2,
    'Credit',
    'Pending',
    'Expert sort gun blood professor.'),
   (1497,
    3,
    '2023-05-25',
    159.79,
    'Skinner-Grimes',
    2,
    'Credit',
    'Failed',
    'Perform seven may red can reflect every.'),
   (1512,
    1,
    '2023-03-11',
    75.06,
    'Larsen LLC',
    2,
    'Credit',
    'Completed',
    'Family word cell.'),
   (1525,
    4,
    '2023-05-02',
    171.4,
    'Wilson-Gray',
    2,
    'Credit',
    'Failed',
    'Hot window know hospital certainly.'),
   (1551,
    3,
    '2023-07-14',
    101.21,
    'Burke, Miller and Blackwell',
    2,
    'Credit',
    'Pending',
    'Describe me entire wide.'),
   (1562,
    1,
    '2023-02-11',
    348.93,
    'Anderson, Giles and Collins',
    2,
    'Debit',
    'Completed',
    'Measure senior middle.'),
   (1602,
    5,
    '2023-01-28',
    35.07,
    'Gaines, Dunn and Irwin',
    2,
    'Debit',
    'Failed',
    'Message learn avoid mention serve.'),
   (1612,
    1,
    '2023-07-10',
    306.42,
    'Boyle Ltd',
    2,
    'Debit',
    'Failed',
    'Suffer activity some life reflect heart.'),
   (1614,
    2,
    '2023-07-09',
    178.47,
    'Dawson, Mercer and Carlson',
    2,
    'Credit',
    'Pending',
    'I one staff guy sea mean.'),
   (1619,
    3,
    '2023-04-19',
    265.91,
    'Perez Group',
    2,
    'Debit',
    'Failed',
    'Four if at likely skill teacher not.'),
   (1624,
    2,
    '2023-02-05',
    353.91,
    'King Group',
    2,
    'Debit',
    'Completed',
    'Either chair great.'),
   (1638,
    5,
    '2023-08-24',
    201.03,
    'Powell-Deleon',
    2,
    'Debit',
    'Failed',
    'Yeah this somebody.'),
   (1640,
    6,
    '2023-04-18',
    19.57,
    'Thompson-Snyder',
    2,
    'Debit',
    'Pending',
    'Bed western bad soon mouth.'),
   (1643,
    4,
    '2023-07-25',
    43.07,
    'Chavez, Rich and Rivera',
    2,
    'Credit',
    'Pending',
    'Film reduce glass interview.'),
   (1652,
    5,
    '2023-01-25',
    174.06,
    'Bird-Thomas',
    2,
    'Debit',
    'Completed',
    'Own race culture lot stock something.'),
   (1659,
    5,
    '2023-10-07',
    200.82,
    'Ross-Morrison',
    2,
    'Debit',
    'Pending',
    'Wide sing model prevent especially her.'),
   (1664,
    1,
    '2023-07-09',
    380.19,
    'Willis Group',
    2,
    'Credit',
    'Completed',
    'Same dream quality impact economic simple sell.'),
   (1692,
    2,
    '2023-02-15',
    239.24,
    'Miller LLC',
    2,
    'Credit',
    'Failed',
    'Soon eight month service seven memory.'),
   (1695,
    6,
    '2023-05-24',
    305.74,
    'Martinez, Ali and Williams',
    2,
    'Debit',
    'Failed',
    'Mind able rest different.'),
   (1719,
    3,
    '2023-10-29',
    355.28,
    'Williams, Jackson and Jackson',
    2,
    'Debit',
    'Pending',
    'Wear pay sort consumer toward leader.'),
   (1736,
    1,
    '2023-03-20',
    335.45,
    'Meyer-Miles',
    2,
    'Credit',
    'Failed',
    'Force recognize after pick remain scientist.'),
   (1748,
    1,
    '2023-11-02',
    101.05,
    'Francis, Wright and Thompson',
    2,
    'Credit',
    'Completed',
    'He inside group west group rise interesting.'),
   (1751,
    4,
    '2023-05-15',
    341.79,
    'Carter Ltd',
    2,
    'Credit',
    'Failed',
    'Success girl real already gas information.'),
   (1754,
    6,
    '2022-12-06',
    341.51,
    'Lynch-Petty',
    2,
    'Debit',
    'Pending',
    'Shoulder medical size responsibility military.'),
   (1757,
    2,
    '2023-02-08',
    85.96,
    'Burke-Gross',
    2,
    'Debit',
    'Pending',
    'None degree occur already but station.'),
   (1758,
    4,
    '2023-03-28',
    142.61,
    'Cobb PLC',
    2,
    'Credit',
    'Completed',
    'Partner right on police environmental thought.'),
   (1789,
    5,
    '2023-02-01',
    164.83,
    'Wyatt, Mcclure and Stanton',
    2,
    'Credit',
    'Completed',
    'Let article tell make any.'),
   (1792,
    6,
    '2023-10-19',
    440.22,
    'Alvarez-Acosta',
    2,
    'Credit',
    'Completed',
    'Goal hear before machine eight prepare seem population.'),
   (1793,
    2,
    '2023-02-02',
    362.01,
    'Peterson-Martinez',
    2,
    'Credit',
    'Pending',
    'Together better letter air consider contain.'),
   (1800,
    1,
    '2023-08-25',
    227.55,
    'Martinez, Floyd and Archer',
    2,
    'Credit',
    'Completed',
    'A determine watch partner assume hospital themselves.'),
   (1811,
    4,
    '2023-01-11',
    292.19,
    'Green and Sons',
    2,
    'Credit',
    'Pending',
    'State resource key customer trip be responsibility.'),
   (1813,
    4,
    '2023-11-01',
    168.18,
    'Powell and Sons',
    2,
    'Credit',
    'Completed',
    'Without will recently toward social.'),
   (1818,
    1,
    '2023-05-08',
    380.3,
    'West-Morris',
    2,
    'Debit',
    'Completed',
    'Financial make I situation.'),
   (1864,
    1,
    '2022-12-31',
    415.1,
    'Hernandez, Carter and Graham',
    2,
    'Debit',
    'Completed',
    'Them nor particular history easy rise my whom.'),
   (1865,
    2,
    '2023-07-25',
    157.25,
    'Garza and Sons',
    2,
    'Debit',
    'Completed',
    'Purpose at music where identify sport door.'),
   (1867,
    3,
    '2022-12-13',
    303.24,
    'Dodson Inc',
    2,
    'Debit',
    'Pending',
    'Daughter difference contain attorney could.'),
   (1874,
    4,
    '2023-07-18',
    337.63,
    'Webster Inc',
    2,
    'Debit',
    'Pending',
    'Catch have table morning scene security.'),
   (1883,
    1,
    '2023-02-14',
    478.08,
    'Ward, Clark and Crawford',
    2,
    'Debit',
    'Failed',
    'Air research instead Democrat think development standard ever.'),
   (1903,
    5,
    '2023-03-24',
    162.78,
    'Lamb-Garcia',
    2,
    'Debit',
    'Pending',
    'Well treatment scene quite establish.'),
   (1905,
    3,
    '2023-04-22',
    227.03,
    'Perez PLC',
    2,
    'Credit',
    'Pending',
    'Crime require commercial deal change.'),
   (1928,
    2,
    '2023-05-30',
    124.62,
    'Anderson, Boyer and Castro',
    2,
    'Debit',
    'Pending',
    'Report real human interest.'),
   (1954,
    1,
    '2023-08-04',
    78.7,
    'Vazquez PLC',
    2,
    'Credit',
    'Pending',
    'Product behavior save type.'),
   (1956,
    5,
    '2023-04-11',
    133.14,
    'Crawford, Houston and Phillips',
    2,
    'Debit',
    'Completed',
    'Of would fish.'),
   (1978,
    2,
    '2023-05-03',
    418.77,
    'Brown, Holt and Williams',
    2,
    'Credit',
    'Failed',
    'Despite risk buy later.'),
   (1981,
    1,
    '2022-12-12',
    119.2,
    'Campbell-Freeman',
    2,
    'Credit',
    'Failed',
    'Herself treatment cut.'),
   (1988,
    6,
    '2023-05-20',
    144.71,
    'Gilbert-Pollard',
    2,
    'Debit',
    'Pending',
    'Think reach particular more room manage budget guy.'),
   (1994,
    2,
    '2023-07-15',
    118.21,
    'Nelson, Joseph and Jones',
    2,
    'Debit',
    'Completed',
    'But fine follow garden education floor serious by.')],
  'Answer': "1994, 2, '2023-07-15', 118.21, 'Nelson, Joseph and Jones', 2, 'Debit', 'Completed', 'But fine follow garden education floor serious by.'"},
 {'Question': 'How many credit cards have a balance over $10,000?',
  'SQLQuery': 'SELECT COUNT(*) FROM credit_card WHERE CurrentBalance > 10000;',
  'SQLResult': [(0,)],
  'Answer': '0'},
 {'Question': 'What is the total amount of transactions completed in the last month?',
  'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE TransactionStatus = 'Completed' AND TransactionDate >= date('now', '-1 month');",
  'SQLResult': [(2445.31,)],
  'Answer': '2881.05'}]

In [143]:
from langchain.prompts import PromptTemplate

template = """Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Use the following format:

The output of LLM is PostgreSQL, please convert this into the SQLite query as our database SQLite

Question: "Question here"
SQLiteQuery: "SQLite Query to run"
SQLiteResult: "Result of the SQLite Query"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Some examples of SQLite queries that correspond to questions are:

{few_shot_examples}

Question: {input}"""

prompt_template = PromptTemplate(
    input_variables=["input", "few_shot_examples", "table_info"],
    template=template,
)

In [178]:
PROMPT_SUFFIX = """Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Use the following format:

The output of LLM is PostgreSQL, please convert this into the SQLite query as our database SQLite.
Apply below function to the output of sql query before db query

def format_to_sqlite(query):
    # Example conversions
    query = re.sub(r'[\s\n]+', ' ', query)
    query = query.replace('ILIKE', 'LIKE')
    query = query.replace('ilike', 'LIKE')
    query = query.replace('::text', '')
    query = query.replace('::integer', '')
    query = query.replace('boolean_expression', 'case when boolean_expression then 1 else 0 end')
    query = query.replace("EXTRACT(YEAR FROM", "strftime('%Y',")
    for col_query, col_db in column_map.items():
        if col_query in query:
            query = query.replace(col_query, col_db)
    # Add more conversions as per your need
    query = query.strip()
    return query


Question: "Question here"
SQLiteQuery: "SQLite Query to run"
SQLiteResult: "Result of the SQLite Query"
Answer: "Final answer here"




Only use the following tables:
CREATE TABLE branch (
		"BranchId" INTEGER,
		"BranchName" TEXT,
		"BranchAddress" TEXT,
		"BranchPhone" TEXT,
		"BranchManager" TEXT,
		"BranchEmail" TEXT,
		"EstablishedDate" DATE,
		"NumberOfEmployees" INTEGER,
		PRIMARY KEY ("BranchId")
	)


	CREATE TABLE category (
		"CategoryId" INTEGER,
		"CategoryName" TEXT,
		PRIMARY KEY ("CategoryId")
	)


	CREATE TABLE credit_card (
		"CardId" INTEGER,
		"UserId" INTEGER,
		"CardNumber" TEXT,
		"CardType" TEXT,
		"ExpiryDate" DATE,
		"CVV" INTEGER,
		"IssueDate" DATE,
		"CreditLimit" REAL,
		"CurrentBalance" REAL,
		"StatementBalance" REAL,
		PRIMARY KEY ("CardId"),
		FOREIGN KEY("UserId") REFERENCES user ("UserId")
	)


	CREATE TABLE credit_card_financial (
		"FinancialId" INTEGER,
		"CardId" INTEGER,
		"OverdueCharges" REAL,
		"LoanAmount" REAL,
		"EMIAmount" REAL,
		"EMIDueDate" DATE,
		"InterestRate" REAL,
		"PaymentDueDate" DATE,
		"MinimumPayment" REAL,
		PRIMARY KEY ("FinancialId"),
		FOREIGN KEY("CardId") REFERENCES credit_card ("CardId")
	)


	CREATE TABLE reward (
		"RewardId" INTEGER,
		"TransactionId" INTEGER,
		"PointsEarned" INTEGER,
		"PointsRedeemed" INTEGER,
		"CurrentBalance" INTEGER,
		PRIMARY KEY ("RewardId"),
		FOREIGN KEY("TransactionId") REFERENCES transactions ("TransactionId")
	)


	CREATE TABLE transactions (
		"TransactionId" INTEGER,
		"CardId" INTEGER,
		"TransactionDate" DATE,
		"Amount" REAL,
		"Merchant" TEXT,
		"CategoryId" INTEGER,
		"TransactionType" TEXT,
		"TransactionStatus" TEXT,
		"Description" TEXT,
		PRIMARY KEY ("TransactionId"),
		FOREIGN KEY("CardId") REFERENCES credit_card ("CardId"),
		FOREIGN KEY("CategoryId") REFERENCES category ("CategoryId")
	)


	CREATE TABLE user (
		"UserId" INTEGER, -- Unique ID for each user
		"UserName" TEXT, -- Name of the user
		"UserEmail" TEXT, -- Email ID of the user
		"UserAddress" TEXT, -- User address
		"UserPhone" TEXT, -- User phone number
		"DateOfBirth" DATE,
		"RegistrationDate" DATE,
		"Status" TEXT,
		"BranchId" INTEGER,
		PRIMARY KEY ("UserId"),
		FOREIGN KEY("BranchId") REFERENCES branch ("BranchId")
	)

Question: {input}"""

In [198]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, return_sql=False,
                                     prompt=PromptTemplate(input_variables=["input", "table_info"],
                                     template=PROMPT_SUFFIX))

In [181]:
test_data[3]['qury_text']

'Find the total amount spent on fuel by all users.'

In [188]:
db_chain('how many cards do we have')

> Entering new SQLDatabaseChain chain...
how many cards do we have
SQLQuery:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

> Finished chain.

{'query': 'how many cards do we have',
 'result': 'SELECT COUNT(DISTINCT CardId) AS NumberOfCardsFROM credit_card;'}

In [199]:
db_chain(test_data[3]['qury_text'])

> Entering new SQLDatabaseChain chain...
Find the total amount spent on fuel by all users.
SQLQuery:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

SELECT SUM(transactions."amount") AS total_amount_spent ON transactions WHERE transactions."transactiontype" ILIKE '%fuel%' AND transactions."transactionstatus" ILIKE '%completed%' GROUP BY transactions."userid";

OperationalError: ignored

In [ ]:
db.run('SELECT SUM(transactions."amount") AS total_amount_spent ON transactions WHERE transactions."transactiontype" LIKE "%fuel%"')

In [156]:
db_chain.run("How many employees are there?")

AttributeError: ignored

In [167]:
# Step 1: Retrieve the SQL query from the LLM model
llm_query = llm.generate_sql_query(test_data[3]['qury_text'])

# Step 2: Convert the PostgreSQL query to SQLite-compatible query
sqlite_query = convert_postgresql_to_sqlite(llm_query)

# Step 3: Query the SQLite database using the updated query
result = db.execute(sqlite_query)

AttributeError: ignored

In [ ]:

# Step 2: Convert the PostgreSQL query to SQLite-compatible query
sqlite_query = convert_postgresql_to_sqlite(llm_query)

# Step 3: Query the SQLite database using the updated query
result = sqlite_db.execute(sqlite_query)

In [126]:
for item in test_data:
  print("Question:")
  question = item['qury_text']
  print(question)
  print('--------------------')
  print(item['result'])
  print('--------------------')
  db_chain.run(question)
  print('***********************')
  print('\n')

Question:
What is the total number of active credit cards?
--------------------
6
--------------------


> Entering new SQLDatabaseChain chain...
What is the total number of active credit cards?
SQLQuery:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

SELECT COUNT(DISTINCT cardid) AS active_cards FROM credit_card WHERE expirydate > CURRENT_DATE AND currentbalance > 0;
SQLResult: [(6,)]
Answer:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

There are six active credit cards.
> Finished chain.
***********************


Question:
How many transactions were made in the 'Shopping' category?
--------------------
93
--------------------


> Entering new SQLDatabaseChain chain...
How many transactions were made in the 'Shopping' category?
SQLQuery:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

SELECT COUNT(transactionid) AS NumberOfTransactions FROM transactions WHERE categoryid IN (SELECT categoryid FROM category WHERE categoryname = 'Shopping');
SQLResult: [(93,)]
Answer:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

93
> Finished chain.
***********************


Question:
Which user has the most number of credit cards?
--------------------
Michael Baldwin
--------------------


> Entering new SQLDatabaseChain chain...
Which user has the most number of credit cards?
SQLQuery:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

SELECT u."UserName", COUNT(c."CardId") AS card_count FROM user u JOIN credit_card c ON u."UserId" = c."UserId" GROUP BY u."UserName" ORDER BY card_count DESC LIMIT 1;
SQLResult: [('Michael Baldwin', 3)]
Answer:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

Michael Baldwin has the most number of credit cards with 3
> Finished chain.
***********************


Question:
Find the total amount spent on fuel by all users.
--------------------
23960.57
--------------------


> Entering new SQLDatabaseChain chain...
Find the total amount spent on fuel by all users.
SQLQuery:

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

SELECT SUM(transactions."amount") AS total_amount FROM transactions JOIN category ON transactions."categoryid" = category."categoryid" WHERE category."categoryname" ILIKE '%fuel%' AND transactions."transactiontype" ILIKE '%charge%';

OperationalError: ignored

In [101]:
import langchain
langchain.debug = False
question = "Few many transactions do we have"

# Run the chain with the question
output = db_chain.run(query=question, few_shot_examples=few_shot_examples)

# # Access the result
# result = output["SQLiteResult"]
# answer = output["Answer"]

# # Print the result and answer
# print("SQLite Result:", result)
# print("Answer:", answer)

> Entering new SQLDatabaseChain chain...
Few many transactions do we have
SQLQuery:

ValueError: ignored

In [ ]:
# llm_chain.run("What is the total number of active credit cards?")

/usr/local/lib/python3.10/dist-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

" SELECT COUNT(DISTINCT cardid) AS number_of_cards FROM credit_card WHERE expirydate > CURRENT_DATE AND status = 'active';"

# Columns_map

In [ ]:
def get_column_names(db_path):
    columns_list = []
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Get the list of all tables in the database
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    # For each table, get the column names
    for table in tables:
        # print(f"Columns for table {table[0]}:")
        cursor.execute(f"PRAGMA table_info({table[0]});")
        columns = cursor.fetchall()
        for column in columns:
          # print(column[1])
          columns_list.append(column[1])
          # print(column[1])  # column name is in the second position
    conn.close()
    return columns_list

In [ ]:
db_columns = get_column_names(db_path)
db_columns = [x.lower() for x in db_columns]

In [ ]:
db_columns_map = ['branch_id',
 'branch_name',
 'branch_address',
 'branch_phone',
 'branch_manager',
 'branch_email',
 'established_date',
 'number_of_employees',
 'user_id',
 'user_name',
 'user_email',
 'user_address',
 'user_phone',
 'date_of_birth',
 'registration_date',
 'status',
 'branch_id',
 'category_id',
 'category_name',
 'card_id',
 'user_id',
 'card_number',
 'card_type',
 'expiry_date',
 'cvv',
 'issue_date',
 'credit_limit',
 'current_balance',
 'statement_balance',
 'transaction_id',
 'card_id',
 'transaction_date',
 'amount',
 'merchant',
 'category_id',
 'transaction_type',
 'transaction_status',
 'description',
 'financial_id',
 'card_id',
 'overdue_charges',
 'loan_amount',
 'emi_amount',
 'emi_duedate',
 'interest_rate',
 'payment_duedate',
 'minimum_payment',
 'reward_id',
 'transaction_id',
 'points_earned',
 'points_redeemed',
 'current_balance']

In [ ]:
column_map = {x:y for x, y in zip(db_columns_map, db_columns)}

# Test sqlcoder

In [ ]:
def query_db(query):
  # Connect to SQLite database
  conn = sqlite3.connect(db_path)
  cursor = conn.cursor()

  # Execute a query
  cursor.execute(query)

  # Fetch and print results
  return cursor.fetchall()

In [ ]:
questions = [
    'What is the total number of active credit cards?',
    "How many transactions were made in the 'Shopping' category?",
    "Which user has the most number of credit cards?",
    "Find the total amount spent on fuel by all users.",
    "What is the oldest branch of the bank?",
    "Find the user with the oldest credit card.",
    "How many rewards were earned for transactions above $1000?",
    "Which category has the lowest average transaction amount?",
    "What is the total outstanding balance for all credit cards?",
    "How many branches have less than 20 employees?",
    "List the top 3 users by total transaction amount.",
    "What is the average number of transactions per user?"
]


answers = ["6", "93", "Michael Baldwin", "23960.57", "Branch 3", "Gabrielle Anderson", "0", "Shopping", "14090.2296532", "2", "Gabrielle Anderson, Michael Baldwin", "166.66666666666666"]

test_data = [{'qury_text':q, 'result': a} for q ,a in zip(questions, answers)]

In [ ]:
def format_to_sqlite(query):
    # Example conversions
    query = re.sub(r'[\s\n]+', ' ', query)
    query = query.replace('ILIKE', 'LIKE')
    query = query.replace('ilike', 'LIKE')
    query = query.replace('::text', '')
    query = query.replace('::integer', '')
    query = query.replace('boolean_expression', 'case when boolean_expression then 1 else 0 end')
    query = query.replace("EXTRACT(YEAR FROM", "strftime('%Y',")
    for col_query, col_db in column_map.items():
        if col_query in query:
            query = query.replace(col_query, col_db)
    # Add more conversions as per your need
    query = query.strip()
    return query

In [ ]:
sql_query ='''
SELECT u.user_name,
       COUNT(c.card_id) AS card_count
FROM user u
JOIN credit_card c ON u.user_id = c.user_id
GROUP BY u.user_name
ORDER BY card_count DESC
LIMIT 1;
'''
print(sql_query)

SELECT u.user_name,
       COUNT(c.card_id) AS card_count
FROM user u
JOIN credit_card c ON u.user_id = c.user_id
GROUP BY u.user_name
ORDER BY card_count DESC
LIMIT 1;

In [ ]:
sql_query_formatted = format_to_sqlite(sql_query)
print(sql_query_formatted)

SELECT u.username,
       COUNT(c.cardid) AS card_count
FROM user u
JOIN credit_card c ON u.userid = c.userid
GROUP BY u.username
ORDER BY card_count DESC
LIMIT 1;

In [ ]:
print(query_db(sql_query_formatted))

[('Michael Baldwin', 3)]

In [ ]:
prompt = "What is the total number of active credit cards?"
prompt_template = update_prompt_template(prompt)
# print(prompt_template)

In [ ]:
with open('/content/few_shots.pkl', 'rb') as f:
  few_shots = pickle.load(f)

In [ ]:
len(few_shots)

18

In [ ]:
few_shots[0]

{'Question': 'List all the cards going to expire by sep 2026',
 'SQLQuery': "SELECT CardNumber FROM credit_card WHERE ExpiryDate <= '2026-09-30';",
 'SQLResult': 'Result of the SQL query',
 'Answer': '5040000000001, 35300000000000000, 52300000000000000',
 'sqlcoder_34b': "SELECT cc.cardid,\n       cc.expirydate\nFROM credit_card cc\nWHERE cc.expirydate BETWEEN CURRENT_DATE AND '2026-09-30'\nORDER BY cc.expirydate NULLS LAST;"}

In [ ]:
for i, item in enumerate(few_shots):
  print(i)
  question = item['Question']
  print('Question:')
  print(question)
  print('------------------------------------------')
  print('SQL query:')
  print(item['SQLQuery'])
  print('------------------------------------------')
  print('Expected result:')
  print(item['Answer'])
  print('------------------------------------------')
  print('sqlcoder_34b:')
  try:
    sql_query_formatted = format_to_sqlite(item['sqlcoder_34b'])
    print(sql_query_formatted)
    print('------')
    print(query_db(sql_query_formatted))
    print('------------------------------------------')
  except:
    print('Failed', i)
  print('sqlcoder2 result:')
  try:
    prompt_template = update_prompt_template(question)
    sql_query = llm_pipe(prompt_template)
    sql_query = format_to_sqlite(sql_query)
    print(sql_query)
    print('------')
    print(query_db(sql_query))
  except:
    print('Failed', i)
  print("Longchain:")
  try:
    sql_query = chain.invoke({"question": question})
    sql_query = format_to_sqlite(sql_query)
    print(sql_query)
    print('------')
    print(db.run(sql_query))
    print('------')
  except:
    print('Failed', i)
  print('****************************************************************************************')
  print('\n')

In [ ]:
sql_query

In [ ]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [ ]:
db_chain.run( "What is the total number of  credit cards?")

In [ ]:
dir(db_chain)

In [ ]:
from langchain.chains import create_sql_query_chain
chain = create_sql_query_chain(llm, db)

In [ ]:
response = chain.invoke({"question": "What is the total number of active credit cards?"})
sql_query_formatted = format_to_sqlite(query)
print(sql_query_formatted)
query_db(sql_query_formatted)

In [ ]:
db.run(sql_query_formatted)

'[(1, 1502.5621301775147), (2, 1498.3793103448277)]'

In [ ]:
db_chain.generate_query("What is the total number of active credit cards?")

In [ ]:
resp = llm_chain.run({"prompt": sql_query})
resp

In [ ]:
# from langchain.llms import GooglePalm

# api_key = 'AIzaSyCEP46MCrbkUR0AENTGOJzqYRXTm6NUd7Q'

# llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [ ]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [ ]:
db_chain.run("Find the total amount spent on fuel by all users.")

# Few shot learning

We will use few shot learning to fix issues we have seen so far

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [ ]:
from langchain.embeddings import HuggingFaceEmbeddings

embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(example.values()) for example in few_shots]

In [ ]:
to_vectorize

In [ ]:
from langchain.vectorstores import Chroma
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [ ]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

In [ ]:
example_selector.select_examples({"Question": "How many total rewards do we have"})

In [ ]:
sqlite_prompt = """You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today". Ensure final query is converted into sqlite.

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here"""

In [ ]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX

In [ ]:
print(PROMPT_SUFFIX)

In [ ]:
from langchain.chains.sql_database import prompt

In [ ]:
dir(prompt)

In [ ]:
from langchain.chains.sql_database.prompt import SQLITE_PROMPT

In [ ]:
print(SQLITE_PROMPT)

In [ ]:
print('You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use date(\'now\') function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')

### Setting up PromptTemplete using input variables

In [ ]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [ ]:
print(PROMPT_SUFFIX)

In [ ]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=sqlite_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [ ]:
llm = HuggingFacePipeline(pipeline=pipe)

In [ ]:
llm('''

Convert this into SQLITE query
SELECT COUNT(DISTINCT TransactionId) AS NumberOfTransactions, SUM(Amount) AS TotalSpentFROM transactions JOIN credit_card ON transactions.cardid::integer = credit_card.cardid::integer WHERE credit_card.userid::integer = 1 AND transactions.categoryid::integer = (SELECT categoryid::integer FROM category WHERE categoryname::text ilike '%food%');
''')

In [ ]:
db_chain2 = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [ ]:
db_chain2.run("Which user has the most number of credit cards?")

In [ ]:
query_db('SELECT u."username", COUNT(cc."cardid") AS card_count FROM "user" u JOIN credit_card cc ON u."userid" = cc."userid" GROUP BY u."username" ORDER BY card_count DESC LIMIT 1')

In [ ]:
resp = db_chain2.run("What is the total amount of transactions completed in the last month")

# Test

In [ ]:
sql_test = ([
    {'Question': "What is the total number of active credit cards?",
     'SQLQuery': "SELECT COUNT(*) FROM credit_card WHERE ExpiryDate > CURRENT_DATE;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total number of active credit cards'},
    {'Question': "How many transactions were made in the 'Shopping' category?",
     'SQLQuery': "SELECT COUNT(*) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Shopping');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of transactions in Shopping category'},
    {'Question': "Which user has the most number of credit cards?",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId GROUP BY u.UserId ORDER BY COUNT(cc.CardId) DESC LIMIT 1;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'User with the most number of credit cards'},
    {'Question': "Find the total amount spent on fuel by all users.",
     'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Fuel');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total amount spent on fuel'},
    {'Question': "What is the oldest branch of the bank?",
     'SQLQuery': "SELECT BranchName FROM branch WHERE EstablishedDate = (SELECT MIN(EstablishedDate) FROM branch);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Oldest branch of the bank'},
    {'Question': "Find the user with the oldest credit card.",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId WHERE cc.IssueDate = (SELECT MIN(IssueDate) FROM credit_card);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'User with the oldest credit card'},
    {'Question': "How many rewards were earned for transactions above $1000?",
     'SQLQuery': "SELECT COUNT(r.RewardId) FROM reward r JOIN transactions t ON r.TransactionId = t.TransactionId WHERE t.Amount > 1000;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of rewards for transactions above $1000'},
    # {'Question': "List all users who have made a transaction in the last month.",
    #  'SQLQuery': "SELECT DISTINCT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId WHERE t.TransactionDate >= CURRENT_DATE - INTERVAL '1 month';",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'List of users with transactions in the last month'},
    {'Question': "Which category has the lowest average transaction amount?",
     'SQLQuery': "SELECT c.CategoryName FROM category c JOIN transactions t ON c.CategoryId = t.CategoryId GROUP BY c.CategoryId ORDER BY AVG(t.Amount) ASC LIMIT 1;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Category with the lowest average transaction amount'},
    {'Question': "What is the total outstanding balance for all credit cards?",
     'SQLQuery': "SELECT SUM(CurrentBalance) FROM credit_card;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total outstanding balance for all credit cards'},
    {'Question': "How many branches have less than 20 employees?",
     'SQLQuery': "SELECT COUNT(*) FROM branch WHERE NumberOfEmployees < 20;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of branches with less than 20 employees'},
    {'Question': "List the top 3 users by total transaction amount.",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId GROUP BY u.UserId ORDER BY SUM(t.Amount) DESC LIMIT 3;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Top 3 users by total transaction amount'},
    # {'Question': "Find the most popular transaction category.",
    #  'SQLQuery': "SELECT c.CategoryName FROM category c JOIN transactions t ON c.CategoryId = t.CategoryId GROUP BY c.CategoryId ORDER BY COUNT(*) DESC LIMIT 1;",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'Most popular transaction category'},
    # {'Question': "How many credit cards were issued in the last year?",
    #  'SQLQuery': "SELECT COUNT(*) FROM credit_card WHERE IssueDate >= CURRENT_DATE - INTERVAL '1 year';",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'Number of credit cards issued in the last year'},
    {'Question': "What is the average number of transactions per user?",
     'SQLQuery': "SELECT AVG(TransactionCount) FROM (SELECT COUNT(*) as TransactionCount FROM transactions GROUP BY CardId) as TransactionPerUser;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Average number of transactions per user'}
])

In [ ]:
len(sql_test)

In [ ]:
for item in sql_test:
  qns = item['Question']
  print(qns)
  sql = item['SQLQuery']
  print(sql)
  print(db_chain2.run(sql))
  try:
    print(db_chain.run(qns))
  except:
    print('failed db_chain')
  try:
    print(db_chain2.run(qns))
  except:
    print('failed db_chain2')
    # item['Answer'] = ans
    # few_shots.append(item)
  print('-----------------------------')