<a href="https://colab.research.google.com/github/loni9164/text_sql/blob/main/sql_starcoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3

In [3]:
!git clone https://github.com/loni9164/text_sql.git

fatal: destination path 'text_sql' already exists and is not an empty directory.

In [ ]:
!pip install langchain langchain-experimental
!pip install -q ctransformers langchain

In [6]:
# from langchain.llms import CTransformers
from langchain import PromptTemplate, LLMChain
from langchain.callbacks.streaming_stdout import StreamingStdOutCallbackHandler

In [7]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [8]:
db_path = "sqlite:///text_sql/credit_card_system.db"

In [10]:
db = SQLDatabase.from_uri(db_path)
table_info = db.table_info
# print(table_info)

In [ ]:
# !pip install ctransformers
# !pip3 install huggingface-hub

In [ ]:
!wget https://huggingface.co/TheBloke/sqlcoder2-GGUF/resolve/main/sqlcoder2.Q4_K_M.gguf

In [16]:
from langchain.callbacks.manager import CallbackManager
from langchain.callbacks.streaming_stdout import StreamingStdOutCallbackHandler
from langchain.chains import LLMChain
from langchain.llms import LlamaCpp
from langchain.prompts import PromptTemplate

In [ ]:
!CMAKE_ARGS="-DLLAMA_BLAS=ON -DLLAMA_BLAS_VENDOR=OpenBLAS" pip install llama-cpp-python

# Callbacks support token-wise streaming
callback_manager = CallbackManager([StreamingStdOutCallbackHandler()])
n_gpu_layers = 400  # Change this value based on your model and your GPU VRAM pool.
n_batch = 2000  # Should be between 1 and n_ctx, consider the amount of VRAM in your GPU.

!CMAKE_ARGS="-DLLAMA_BLAS=ON -DLLAMA_BLAS_VENDOR=OpenBLAS" pip install llama-cpp-python
# Make sure the model path is correct for your system!
llm = LlamaCpp(model_path="/content/sqlcoder2.Q4_K_M.gguf",
              temperature=0,
              max_tokens=2000,
              top_p=1,
              n_gpu_layers=n_gpu_layers,
              n_batch=n_batch,
              n_ctx = 3000,
              callback_manager=callback_manager,
              verbose=True,  # Verbose is required to pass to the callback manager
          )

In [17]:
# !pip install llama-cpp-python

# # Callbacks support token-wise streaming
# callback_manager = CallbackManager([StreamingStdOutCallbackHandler()])

# # Make sure the model path is correct for your system!
# llm = LlamaCpp(model_path="/content/sqlcoder2.Q4_K_M.gguf",
#               temperature=0,
#               max_tokens=2000,
#               top_p=1,
#               n_ctx = 3000,
#               callback_manager=callback_manager,
#               verbose=True,  # Verbose is required to pass to the callback manager
#           )

Requirement already satisfied: llama-cpp-python in /usr/local/lib/python3.10/dist-packages (0.2.23)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from llama-cpp-python) (4.5.0)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.10/dist-packages (from llama-cpp-python) (1.23.5)
Requirement already satisfied: diskcache>=5.6.1 in /usr/local/lib/python3.10/dist-packages (from llama-cpp-python) (5.6.3)

AVX = 1 | AVX2 = 1 | AVX512 = 0 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 0 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 |

In [9]:
# from ctransformers import AutoModelForCausalLM

# # Set gpu_layers to the number of layers to offload to GPU. Set to 0 if no GPU acceleration is available on your system.
# llm = AutoModelForCausalLM.from_pretrained("TheBloke/sqlcoder2-GGUF", model_file="sqlcoder2.Q4_K_M.gguf", model_type="starcoder", gpu_layers=0)

In [18]:
# [INST] Generate a SQL query to answer the following prompt. Please wrap your code answer using ```:
template = '''
[INST] Generate a SQL query to answer the following prompt:
{prompt}

### Refer below database Schema for column names

CREATE TABLE branch (
	"BranchId" INTEGER,
	"BranchName" TEXT,
	"BranchAddress" TEXT,
	"BranchPhone" TEXT,
	"BranchManager" TEXT,
	"BranchEmail" TEXT,
	"EstablishedDate" DATE,
	"NumberOfEmployees" INTEGER,
	PRIMARY KEY ("BranchId")
)


CREATE TABLE credit_card (
	"CardId" INTEGER,
	"UserId" INTEGER,
	"CardNumber" TEXT,
	"CardType" TEXT,
	"ExpiryDate" DATE,
	"CVV" INTEGER,
	"IssueDate" DATE,
	"CreditLimit" REAL,
	"CurrentBalance" REAL,
	"StatementBalance" REAL,
	PRIMARY KEY ("CardId"),
	FOREIGN KEY("UserId") REFERENCES user ("UserId")
)


CREATE TABLE credit_card_financial (
	"FinancialId" INTEGER,
	"CardId" INTEGER,
	"OverdueCharges" REAL,
	"LoanAmount" REAL,
	"EMIAmount" REAL,
	"EMIDueDate" DATE,
	"InterestRate" REAL,
	"PaymentDueDate" DATE,
	"MinimumPayment" REAL,
	PRIMARY KEY ("FinancialId"),
	FOREIGN KEY("CardId") REFERENCES credit_card ("CardId")
)


CREATE TABLE transactions (
	"TransactionId" INTEGER,
	"CardId" INTEGER,
	"TransactionDate" DATE,
	"Amount" REAL,
	"Merchant" TEXT,
	"Category" TEXT,
	"TransactionType" TEXT,
	"PointsEarned" TEXT,
	"PointsRedeemed" TEXT,
	"TransactionStatus" TEXT,
	"Description" TEXT,
	PRIMARY KEY ("TransactionId"),
	FOREIGN KEY("CardId") REFERENCES credit_card ("CardId")
)


CREATE TABLE user (
	"UserId" INTEGER,
	"UserName" TEXT,
	"UserEmail" TEXT,
	"UserAddress" TEXT,
	"UserPhone" TEXT,
	"DateOfBirth" DATE,
	"RegistrationDate" DATE,
	"Status" TEXT,
	"BranchId" INTEGER,
	PRIMARY KEY ("UserId"),
	FOREIGN KEY("BranchId") REFERENCES branch ("BranchId")
)

Return only the sql query
[/INST]
'''

In [19]:
prompt = PromptTemplate(template=template, input_variables=["prompt"])
llm_chain = LLMChain(prompt=prompt, llm=llm)

In [20]:
resp = llm_chain.run('What is the total number of active credit cards?')

SELECT COUNT(DISTINCT card_id::integer) AS number_of_cards FROM credit_card WHERE expiry_date > CURRENT_DATE AND current_balance > 0;

In [17]:
resp

'SELECT Branch.branchmanager FROM branch WHERE "BranchName" ILIKE \'%1%\''

In [69]:
def query_db(query):
  # Connect to SQLite database
  conn = sqlite3.connect("credit_card_system.db")
  cursor = conn.cursor()

  # Execute a query
  cursor.execute(query)

  # Fetch and print results
  rows = cursor.fetchall()
  for row in rows:
      print(row)

In [74]:
query_db("SELECT Branch.branchmanager FROM branch WHERE BranchName LIKE '%1%'")

('Laura Perez',)

In [ ]:
# from langchain.llms import GooglePalm

# api_key = 'AIzaSyA8fIwAVMe1VcKOQO1_qzVvLnRM1yfNj-I'

# llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [ ]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [ ]:
qns1 = "List all the cards going to expire by sep 2026"
sql1 = "SELECT CardNumber FROM credit_card WHERE ExpiryDate <= '2026-09-30';"
ans1 = db_chain.run(sql1)
ans1

> Entering new SQLDatabaseChain chain...
SELECT CardNumber FROM credit_card WHERE ExpiryDate <= '2026-09-30';
SQLQuery:SELECT CardNumber FROM credit_card WHERE ExpiryDate <= '2026-09-30'
SQLResult: [('5040000000001',), ('35300000000000000',), ('52300000000000000',)]
Answer:5040000000001, 35300000000000000, 52300000000000000
> Finished chain.

'5040000000001, 35300000000000000, 52300000000000000'

In [ ]:
qns2 = "what is the total amount spent by user 2 for food and groceries?"
sql2 = "SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=2);"
ans2 = db_chain.run(sql2)
ans2

> Entering new SQLDatabaseChain chain...
SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=2);
SQLQuery:SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=2);
SQLResult: [(11718.400000000003,)]
Answer:11718.4
> Finished chain.

'11718.4'

In [ ]:
qns3 = "How many unique users do we have in transactions"
sql3 = "SELECT COUNT(DISTINCT UserId) FROM credit_card WHERE CardId IN (SELECT DISTINCT CardId FROM transactions);"
ans3 = db_chain.run(sql3)
ans3

> Entering new SQLDatabaseChain chain...
SELECT COUNT(DISTINCT UserId) FROM credit_card WHERE CardId IN (SELECT DISTINCT CardId FROM transactions);
SQLQuery:SELECT COUNT(DISTINCT UserId) FROM credit_card WHERE CardId IN (SELECT DISTINCT CardId FROM transactions);
SQLResult: [(2,)]
Answer:2
> Finished chain.

'2'

In [ ]:
qns4 = "What is the total amount lended to the user 1"
sql4 = "SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=1);"
ans4 = db_chain.run(sql4)
ans4

> Entering new SQLDatabaseChain chain...
SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=1);
SQLQuery:SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=1);
SQLResult: [(27493.36,)]
Answer:27493.36
> Finished chain.

'27493.36'

In [ ]:
qns5 = "Total reward points earned by user2"
sql5 = "SELECT SUM(RewardId) FROM reward WHERE TransactionId IN (SELECT TransactionId FROM transactions WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=2));"
ans5 = db_chain.run(sql5)
ans5

> Entering new SQLDatabaseChain chain...
SELECT SUM(RewardId) FROM reward WHERE TransactionId IN (SELECT TransactionId FROM transactions WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=2));
SQLQuery:SELECT SUM(RewardId) FROM reward WHERE TransactionId IN (SELECT TransactionId FROM transactions WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=2));
SQLResult: [(245701,)]
Answer:245701
> Finished chain.

'245701'

# Few shot learning

We will use few shot learning to fix issues we have seen so far

In [ ]:
few_shots = []

for i in list(range(1,6)):
  data = {'Question' : globals()[f'qns{i}'],
        'SQLQuery' : globals()[f'sql{i}'],
        'SQLResult': "Result of the SQL query",
        'Answer' : globals()[f'ans{i}']}
  few_shots.append(data)

In [ ]:
few_shots

In [ ]:
sql_questions = [
    {'Question': "List all branches established after 2010.",
     'SQLQuery': "SELECT * FROM branch WHERE EstablishedDate > '2010-01-01';",
     'SQLResult': "Result of the SQL query",
     'Answer': 'List of branches established after 2010'},
    {'Question': "Find the total number of transactions in the 'Food and Groceries' category.",
     'SQLQuery': "SELECT COUNT(*) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total number of transactions in Food and Groceries'},
    {'Question': "What is the highest credit limit among all credit cards?",
     'SQLQuery': "SELECT MAX(CreditLimit) FROM credit_card;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Highest credit limit'},
    {'Question': "How many users are associated with Branch 1?",
     'SQLQuery': "SELECT COUNT(*) FROM user WHERE BranchId = 1;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of users in Branch 1'},
    {'Question': "List the user names and total reward points earned by each user.",
     'SQLQuery': "SELECT u.UserName, SUM(r.RewardId) FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId JOIN reward r ON t.TransactionId = r.TransactionId GROUP BY u.UserName;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'User names and their total reward points'},
    {'Question': "Find the average balance of credit cards issued by Branch 2.",
     'SQLQuery': "SELECT AVG(CurrentBalance) FROM credit_card WHERE CardId IN (SELECT CardId FROM user WHERE BranchId = 2);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Average balance of credit cards from Branch 2'},
    {'Question': "Which category has the highest number of transactions?",
     'SQLQuery': "SELECT CategoryId, COUNT(*) as NumberOfTransactions FROM transactions GROUP BY CategoryId ORDER BY NumberOfTransactions DESC LIMIT 1;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Category with the highest number of transactions'},
    {'Question': "List all users who have a credit card expiring in 2024.",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId WHERE strftime('%Y', cc.ExpiryDate) = 2024;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'List of users with credit cards expiring in 2024'},
    {'Question': "Find the total amount spent in 'Movies and Entertainment' category by User 1.",
     'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Movies and Entertainment') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=1);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total amount spent by User 1 in Movies and Entertainment'},
    {'Question': "What is the total loan amount issued to users of Branch 3?",
     'SQLQuery': "SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM user WHERE BranchId = 3);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total loan amount for users of Branch 3'},
    {'Question': "List all transactions made in the 'Shopping' category.",
     'SQLQuery': "SELECT * FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Shopping');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'List of transactions in Shopping category'},
    # {'Question': "Find the average loan amount given to users under 30 years of age.",
    #  'SQLQuery': "SELECT AVG(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM user WHERE (strftime('%Y', 'now') - strftime('%Y', DateOfBirth)) - (strftime('%m-%d', 'now') < strftime('%m-%d', DateOfBirth)) < 30;",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'Average loan amount for users under 30'},
    {'Question': "How many credit cards have a balance over $10,000?",
     'SQLQuery': "SELECT COUNT(*) FROM credit_card WHERE CurrentBalance > 10000;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of credit cards with balance over $10,000'},
    {'Question': "What is the total amount of transactions completed in the last month?",
     'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE TransactionStatus = 'Completed' AND TransactionDate >= date('now', '-1 month');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total amount of transactions last month'}
]

In [ ]:
len(sql_questions)

13

In [ ]:
for item in sql_questions:
  sql = item['SQLQuery']
  ans = db_chain.run(sql)
  item['Answer'] = ans
  few_shots.append(item)
  # print('-----------------------------')

1994, 2, '2023-07-15', 118.21, 'Nelson, Joseph and Jones', 2, 'Debit', 'Completed', 'But fine follow garden education floor serious by.'
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT COUNT(*) FROM credit_card WHERE CurrentBalance > 10000;
SQLQuery:SELECT COUNT(*) FROM credit_card WHERE CurrentBalance > 10000
SQLResult: [(0,)]
Answer:0
> Finished chain.


> Entering new SQLDatabaseChain chain...
SELECT SUM(Amount) FROM transactions WHERE TransactionStatus = 'Completed' AND TransactionDate >= date('now', '-1 month');
SQLQuery:SELECT SUM(Amount) FROM transactions WHERE TransactionStatus = 'Completed' AND TransactionDate >= date('now', '-1 month');
SQLResult: [(3476.52,)]
Answer:3476.52
> Finished chain.

In [ ]:
len(few_shots)

18

In [ ]:
few_shots

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [ ]:
!pip install sentence-transformers
!pip install chromadb

In [ ]:
from langchain.embeddings import HuggingFaceEmbeddings

embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(example.values()) for example in few_shots]

In [ ]:
to_vectorize

["List all the cards going to expire by sep 2026 SELECT CardNumber FROM credit_card WHERE ExpiryDate <= '2026-09-30'; Result of the SQL query 5040000000001, 35300000000000000, 52300000000000000",
 "what is the total amount spent by user 2 for food and groceries? SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries') AND CardId IN (SELECT CardId FROM credit_card` WHERE UserId=2); Result of the SQL query 11718.4",
 'How many unique users do we have in transactions SELECT COUNT(DISTINCT UserId) FROM credit_card WHERE CardId IN (SELECT DISTINCT CardId FROM transactions); Result of the SQL query 2',
 'What is the total amount lended to the user 1 SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=1); Result of the SQL query 27493.36',
 'Total reward points earned by user2 SELECT SUM(RewardId) FROM reward WHERE TransactionId IN (SELECT TransactionId FROM transactions WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=2)); Result of the SQL query 245701',
 "List all branches established after 2010. SELECT * FROM branch WHERE EstablishedDate > '2010-01-01'; Result of the SQL query Branch 2, Branch 4, Branch 5",
 "Find the total number of transactions in the 'Food and Groceries' category. SELECT COUNT(*) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries'); Result of the SQL query 84",
 'What is the highest credit limit among all credit cards? SELECT MAX(CreditLimit) FROM credit_card; Result of the SQL query 20000.0',
 'How many users are associated with Branch 1? SELECT COUNT(*) FROM user WHERE BranchId = 1; Result of the SQL query 320',
 'List the user names and total reward points earned by each user. SELECT u.UserName, SUM(r.RewardId) FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId JOIN reward r ON t.TransactionId = r.TransactionId GROUP BY u.UserName; Result of the SQL query Gabrielle Anderson, Michael Baldwin',
 'Find the average balance of credit cards issued by Branch 2. SELECT AVG(CurrentBalance) FROM credit_card WHERE CardId IN (SELECT CardId FROM user WHERE BranchId = 2); Result of the SQL query 2348.3716088666665',
 'Which category has the highest number of transactions? SELECT CategoryId, COUNT(*) as NumberOfTransactions FROM transactions GROUP BY CategoryId ORDER BY NumberOfTransactions DESC LIMIT 1; Result of the SQL query 5',
 "List all users who have a credit card expiring in 2024. SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId WHERE strftime('%Y', cc.ExpiryDate) = 2024; Result of the SQL query Gabrielle Anderson",
 "Find the total amount spent in 'Movies and Entertainment' category by User 1. SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Movies and Entertainment') AND CardId IN (SELECT CardId FROM credit_card WHERE UserId=1); Result of the SQL query 11754.93",
 'What is the total loan amount issued to users of Branch 3? SELECT SUM(LoanAmount) FROM credit_card_financial WHERE CardId IN (SELECT CardId FROM user WHERE BranchId = 3); Result of the SQL query 47744.87',
 "List all transactions made in the 'Shopping' category. SELECT * FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Shopping'); Result of the SQL query 1994, 2, '2023-07-15', 118.21, 'Nelson, Joseph and Jones', 2, 'Debit', 'Completed', 'But fine follow garden education floor serious by.'",
 'How many credit cards have a balance over $10,000? SELECT COUNT(*) FROM credit_card WHERE CurrentBalance > 10000; Result of the SQL query 0',
 "What is the total amount of transactions completed in the last month? SELECT SUM(Amount) FROM transactions WHERE TransactionStatus = 'Completed' AND TransactionDate >= date('now', '-1 month'); Result of the SQL query 3508.62"]

In [ ]:
from langchain.vectorstores import Chroma
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [ ]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many total rewards do we have"})

[{'Answer': '245701',
  'Question': 'Total reward points earned by user2',
  'SQLQuery': 'SELECT SUM(RewardId) FROM reward WHERE TransactionId IN (SELECT TransactionId FROM transactions WHERE CardId IN (SELECT CardId FROM credit_card WHERE UserId=2));',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': 'Gabrielle Anderson, Michael Baldwin',
  'Question': 'List the user names and total reward points earned by each user.',
  'SQLQuery': 'SELECT u.UserName, SUM(r.RewardId) FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId JOIN reward r ON t.TransactionId = r.TransactionId GROUP BY u.UserName;',
  'SQLResult': 'Result of the SQL query'}]

In [ ]:
sqlite_prompt = """You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here"""

In [ ]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX

In [ ]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [ ]:
from langchain.chains.sql_database import prompt

In [ ]:
dir(prompt)

In [ ]:
from langchain.chains.sql_database.prompt import SQLITE_PROMPT

In [ ]:
print(SQLITE_PROMPT)

input_variables=['input', 'table_info', 'top_k'] template='You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use date(\'now\') function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}'

In [ ]:
print('You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use date(\'now\') function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

### Setting up PromptTemplete using input variables

In [ ]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [ ]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [ ]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=sqlite_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [ ]:
db_chain2 = SQLDatabaseChain.from_llm(llm, db, verbose=False, prompt=few_shot_prompt)

In [ ]:
db_chain2.run("what is the amout spend by user 1 for food")

 SELECT SUM(Amount) FROM transactions WHERE CardId = (SELECT CardId FROM credit_card WHERE UserId=1);

Llama.generate: prefix-match hit

 45182.26


Question: what is the amout spend by user 1 for food and groceries?
SQLQuery:SELECT SUM(Amount) FROM transactions WHERE CardId = (SELECT CardId FROM credit_card WHERE UserId=1)) AND CategoryId IN (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries'));

"45182.26\n\n\nQuestion: what is the amout spend by user 1 for food and groceries?\nSQLQuery:SELECT SUM(Amount) FROM transactions WHERE CardId = (SELECT CardId FROM credit_card WHERE UserId=1)) AND CategoryId IN (SELECT CategoryId FROM category WHERE CategoryName = 'Food and Groceries'));"

In [ ]:
resp = db_chain2.run("What is the total amount of transactions completed in the last month")

Llama.generate: prefix-match hit

 SELECT SUM(Amount) FROM transactions WHERE TransactionDate >= date('now', '-1 month');

Llama.generate: prefix-match hit

 14700.539999

In [ ]:
3508.62

# Test

In [ ]:
sql_test = ([
    {'Question': "What is the total number of active credit cards?",
     'SQLQuery': "SELECT COUNT(*) FROM credit_card WHERE ExpiryDate > CURRENT_DATE;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total number of active credit cards'},
    {'Question': "How many transactions were made in the 'Shopping' category?",
     'SQLQuery': "SELECT COUNT(*) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Shopping');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of transactions in Shopping category'},
    {'Question': "Which user has the most number of credit cards?",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId GROUP BY u.UserId ORDER BY COUNT(cc.CardId) DESC LIMIT 1;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'User with the most number of credit cards'},
    {'Question': "Find the total amount spent on fuel by all users.",
     'SQLQuery': "SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Fuel');",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total amount spent on fuel'},
    {'Question': "What is the oldest branch of the bank?",
     'SQLQuery': "SELECT BranchName FROM branch WHERE EstablishedDate = (SELECT MIN(EstablishedDate) FROM branch);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Oldest branch of the bank'},
    {'Question': "Find the user with the oldest credit card.",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId WHERE cc.IssueDate = (SELECT MIN(IssueDate) FROM credit_card);",
     'SQLResult': "Result of the SQL query",
     'Answer': 'User with the oldest credit card'},
    {'Question': "How many rewards were earned for transactions above $1000?",
     'SQLQuery': "SELECT COUNT(r.RewardId) FROM reward r JOIN transactions t ON r.TransactionId = t.TransactionId WHERE t.Amount > 1000;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of rewards for transactions above $1000'},
    # {'Question': "List all users who have made a transaction in the last month.",
    #  'SQLQuery': "SELECT DISTINCT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId WHERE t.TransactionDate >= CURRENT_DATE - INTERVAL '1 month';",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'List of users with transactions in the last month'},
    {'Question': "Which category has the lowest average transaction amount?",
     'SQLQuery': "SELECT c.CategoryName FROM category c JOIN transactions t ON c.CategoryId = t.CategoryId GROUP BY c.CategoryId ORDER BY AVG(t.Amount) ASC LIMIT 1;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Category with the lowest average transaction amount'},
    {'Question': "What is the total outstanding balance for all credit cards?",
     'SQLQuery': "SELECT SUM(CurrentBalance) FROM credit_card;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Total outstanding balance for all credit cards'},
    {'Question': "How many branches have less than 20 employees?",
     'SQLQuery': "SELECT COUNT(*) FROM branch WHERE NumberOfEmployees < 20;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Number of branches with less than 20 employees'},
    {'Question': "List the top 3 users by total transaction amount.",
     'SQLQuery': "SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId GROUP BY u.UserId ORDER BY SUM(t.Amount) DESC LIMIT 3;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Top 3 users by total transaction amount'},
    # {'Question': "Find the most popular transaction category.",
    #  'SQLQuery': "SELECT c.CategoryName FROM category c JOIN transactions t ON c.CategoryId = t.CategoryId GROUP BY c.CategoryId ORDER BY COUNT(*) DESC LIMIT 1;",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'Most popular transaction category'},
    # {'Question': "How many credit cards were issued in the last year?",
    #  'SQLQuery': "SELECT COUNT(*) FROM credit_card WHERE IssueDate >= CURRENT_DATE - INTERVAL '1 year';",
    #  'SQLResult': "Result of the SQL query",
    #  'Answer': 'Number of credit cards issued in the last year'},
    {'Question': "What is the average number of transactions per user?",
     'SQLQuery': "SELECT AVG(TransactionCount) FROM (SELECT COUNT(*) as TransactionCount FROM transactions GROUP BY CardId) as TransactionPerUser;",
     'SQLResult': "Result of the SQL query",
     'Answer': 'Average number of transactions per user'}
])

In [ ]:
len(sql_test)

12

In [ ]:
for item in sql_test:
  qns = item['Question']
  print(qns)
  sql = item['SQLQuery']
  print(sql)
  print(db_chain2.run(sql))
  try:
    print(db_chain.run(qns))
  except:
    print('failed db_chain')
  try:
    print(db_chain2.run(qns))
  except:
    print('failed db_chain2')
    # item['Answer'] = ans
    # few_shots.append(item)
  print('-----------------------------')

What is the total number of active credit cards?
SELECT COUNT(*) FROM credit_card WHERE ExpiryDate > CURRENT_DATE;
6
failed db_chain
failed db_chain2
-----------------------------
How many transactions were made in the 'Shopping' category?
SELECT COUNT(*) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Shopping');
93
93
93
-----------------------------
Which user has the most number of credit cards?
SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId GROUP BY u.UserId ORDER BY COUNT(cc.CardId) DESC LIMIT 1;
Michael Baldwin
failed db_chain
Michael Baldwin
-----------------------------
Find the total amount spent on fuel by all users.
SELECT SUM(Amount) FROM transactions WHERE CategoryId = (SELECT CategoryId FROM category WHERE CategoryName = 'Fuel');
23960.57
23960.57
23960.57
-----------------------------
What is the oldest branch of the bank?
SELECT BranchName FROM branch WHERE EstablishedDate = (SELECT MIN(EstablishedDate) FROM branch);
Branch 3
Branch 3
Branch 3
-----------------------------
Find the user with the oldest credit card.
SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId WHERE cc.IssueDate = (SELECT MIN(IssueDate) FROM credit_card);
Gabrielle Anderson
Gabrielle Anderson
Gabrielle Anderson
-----------------------------
How many rewards were earned for transactions above $1000?
SELECT COUNT(r.RewardId) FROM reward r JOIN transactions t ON r.TransactionId = t.TransactionId WHERE t.Amount > 1000;
0
0
0
-----------------------------
Which category has the lowest average transaction amount?
SELECT c.CategoryName FROM category c JOIN transactions t ON c.CategoryId = t.CategoryId GROUP BY c.CategoryId ORDER BY AVG(t.Amount) ASC LIMIT 1;
Shopping
failed db_chain
2
-----------------------------
What is the total outstanding balance for all credit cards?
SELECT SUM(CurrentBalance) FROM credit_card;
14090.2296532
14090.2296532
14090.2296532
-----------------------------
How many branches have less than 20 employees?
SELECT COUNT(*) FROM branch WHERE NumberOfEmployees < 20;
2
2
2
-----------------------------
List the top 3 users by total transaction amount.
SELECT u.UserName FROM user u JOIN credit_card cc ON u.UserId = cc.UserId JOIN transactions t ON cc.CardId = t.CardId GROUP BY u.UserId ORDER BY SUM(t.Amount) DESC LIMIT 3;
Gabrielle Anderson, Michael Baldwin
failed db_chain
failed db_chain2
-----------------------------
What is the average number of transactions per user?
SELECT AVG(TransactionCount) FROM (SELECT COUNT(*) as TransactionCount FROM transactions GROUP BY CardId) as TransactionPerUser;
166.66666666666666
failed db_chain
failed db_chain2
-----------------------------